@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma;
    background: linear-gradient(0deg, #211b50 0%, #1e1515 100%);
} 

.nav-link {
    color: rgb(0, 123, 255);
}

.navbar-nav .nav-link.active {
    color: purple;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgba(128, 0, 128, 0.251);
}

.sidebar {
    color: white;
    background: rgba(0, 0, 0, 0.277);
}

.card {
    background: linear-gradient(0deg, #223846 0%, #000000 100%);
    color: white;


    a {
        text-decoration: none;
        color: white;

    }
}

.slide-text {
    color: rgb(215, 213, 213);
    margin: auto auto;
}

footer {
    background-color: #1a1a1a;
    p {
        color: rgb(184, 184, 184);
    }
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}